.container {
  background-color: #785BFA;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

.title {
  padding-left: 1rem;
}

.searchContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.search {
  position: relative;
  border-radius: .5rem;
  background-color: rgba(255, 255, 255, .5);
  margin-right: 5rem;
  margin-left: 0;
  width: 50%;
  height: fit-content;
}

.search:hover {
  background-color: rgba(255, 255, 255, .7);
}

.searchIcon {
  position: absolute;
  height: 100%;
  color: white;
}

.input {
  padding: .3rem 0 .3rem 1.5rem;
  width: 100%;
  background: none;
  border: none;
}

.input:focus {
  border: none;
  outline: none;
}
