.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
}

.title {
  font-weight: 500;
  font-size: 18px;
}

.selectContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  padding: 5px;
  gap: 10px;
}